
/**** ANIMATION CSS FAVORIS****/
.favorite-checkbox {
    display: none; 
}

.favorite-button {
    background: none;
    border: none;
    color: #080808;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    width: 30px;
    height: 21px;
    gap: 0px;
    top: 8px;
}

.heart-empty, .heart-filled {
    position: absolute; 
    top: 0;
    left: 0;
    transition: opacity 0.3s ease; 
}

.heart-filled {
    color: #b24de6; 
    opacity: 0; 
}

.favorite-checkbox:checked + .favorite-button .heart-empty {
    opacity: 0; 
}

.favorite-checkbox:checked + .favorite-button .heart-filled {
    opacity: 1; 
}