/**** ANIMATION CSS FAVORIS****/
.favorite-checkbox {
    display: none; 
}

.favorite-button {
    background: none;
    border: none;
    color: #080808;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    width: 30px;
    height: 21px;
    gap: 0px;
    top: 8px;
}

.heart-empty, .heart-filled {
    position: absolute; 
    top: 0;
    left: 0;
    transition: opacity 0.3s ease; 
}

.heart-filled {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-background-clip: text; /* Appliquer le dégradé uniquement au texte */
    -webkit-text-fill-color: transparent; /* Rendre le texte transparent pour laisser apparaître le dégradé */
    opacity: 0; 
}

.favorite-checkbox:checked + .favorite-button .heart-empty {
    opacity: 0; 
}

.favorite-checkbox:checked + .favorite-button .heart-filled {
    opacity: 1; 
}

/* Masquer le contenu principal pendant le chargement */
.content {
  animation: showContent 0.5s ease forwards 3s; /* Affiche le contenu après 3 secondes */
}

/* Loader container */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeOut 0.5s ease 1s forwards; /* Disparition du loader après 3 secondes */
}

/* Style et animation du texte OhMyFood */
.loader-text {
  font-size: 3rem;
  font-family: 'Shrikhand';
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 3s ease forwards;
}

/* Animation pour faire glisser le texte de gauche à droite */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Disparition du loader */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Apparition du contenu principal */
@keyframes showContent {
  from {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

