// Couleurs principales
$primary-color: #9356DC;            // Couleur violette des boutons principaux
$secondary-color: #5ef6c3;          // Couleur verte pour les badges
$text-color: black;                  // Couleur du texte standard
$background-color: rgb(248, 245, 245); // Couleur de fond de sections
$header-background: rgba(234, 234, 234, 1); // Fond du header
$footer-background: rgb(43, 42, 42);       // Fond du footer
$fonctionnement-background: white;
$footer-text-color: #f8f5fa;         // Couleur de texte pour le footer
$hover-color: #c082e6;               // Couleur de survol des boutons
$fav-button-color: #b24de6;          // Couleur pour le cœur rempli du favori
$fav-button-empty: #ccc;             // Couleur pour le cœur vide du favori
$restaurant-name-color: black;       // Couleur des noms des restaurants
